pr3_ADB/src/main/resources/Contactos.dtd

<!ELEMENT agenda (contacto)+>
<!ELEMENT contacto (nombre, apellidos, direcci贸n?, telefono*)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT direcci贸n (calle, numero, c贸digo-postal, localidad)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT c贸digo-postal (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ATTLIST telefono tipo (casa | trabajo | movil) #REQUIRED>
<!ATTLIST contacto dni CDATA #REQUIRED>