pr3_ADB/src/main/resources/Libros.dtd

<!ELEMENT libros (libro*)>
<!ELEMENT libro (titulo, autores?, editorial, precio)> 
<!ELEMENT autores (autor+)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT precio (#PCDATA)>

<!ATTLIST libro año CDATA #REQUIRED>
<!ATTLIST autor id CDATA #REQUIRED>
